.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/public/ImageUpload
spec/dummy/public/image_uploads
*~
.project
coverage/
# This needs to be here to make sure that we don't leak an API key
spec/dummy/config/phocodable.yml
.loadpath
# Make sure that we're not locking gems for users
Gemfile.lock